<div id="assign_service_to_location" class="add_to_service_form">
	<% available_locations = get_available_locations @service %>
	<% unless available_locations.empty? %>
		<strong> <%= t(:form_service_assign_location) %>: </strong>
		<%= form_for(@location_service) do |f| %>
		<% if @location_service.errors.any? %>
			<div id="error_explanation">
				<h2><%= "#{pluralize(@location_service.errors.count, "error")} #{t(:form_errors_found)}:" %></h2>
				<ul>
				<% @location_service.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		<%= f.hidden_field :service_id, :value => @service.id %>
		
		<%= f.label :location_id, t(:form_add_location_to_service_location_id) %>
		<%= f.select(:location_id, available_locations) %>

		<div class="location_service_location_id">
			<%= f.submit t(:form_add_location_to_service_submit) %>
		</div>
		<% end %>
	<% end %>
</div>