<div id="assign_user_to_service" class="add_to_service_form">
	<% available_users = get_available_users @service %>
	<% unless available_users.empty? %>
		<strong> <%= t(:form_service_assign_user) %>: </strong>
		<%= form_for(@service_user) do |f| %>
			<% if @service_user.errors.any? %>
				<div id="error_explanation">
					<h2><%= "#{pluralize(@service_user.errors.count, "error")} #{t(:form_errors_found)}:" %></h2>
					<ul>
					<% @service_user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
			
			<%= f.hidden_field :service_id, :value => @service.id %>

			<p id="warning_only_location_or_vehicle">
			<%= t(:form_add_user_to_service_warning_only_location_or_vehicle) %></p><br>
			
			<%= f.label :user_id, t(:form_add_user_to_service_user_id) %>
			<%= f.select :user_id, available_users %>
			
			<%= f.label :user_position, t(:form_add_user_to_service_doc) %>
			<%= f.select :user_position, UserType.available_types %>
			
			<%= f.label :location_id, t(:form_add_user_to_service_location_id) %>
			<%= f.select :location_id, locations_for_user_service(@service.locations) %>
			
			<%= f.label :vehicle_id, t(:form_add_user_to_service_vehicle_id) %>
			<%= f.select :vehicle_id, vehicles_for_user_service(@service.vehicles) %>

			<div class="service_user_submit">
				<%= f.submit t(:form_add_user_to_service_submit) %>
			</div>
		<% end %>
	<% end %>
</div>