<div id="assign_vehicle_to_service" class="add_to_service_form">
	<% available_vehicles = get_available_vehicles @service %>
	<% unless available_vehicles.empty? %>
		<strong> <%= t(:form_service_assign_vehicle) %>: </strong>
		<%= form_for(@vehicle_service) do |f| %>
		<% if @vehicle_service.errors.any? %>
			<div id="error_explanation">
				<h2><%= "#{pluralize(@vehicle_service.errors.count, "error")} #{t(:form_errors_found)}:" %></h2>
				<ul>
				<% @vehicle_service.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		<%= f.hidden_field :service_id, :value => @service.id %>
		
		<%= f.label :vehicle_id, t(:form_add_vehicle_to_service_vehicle_id) %>
		<%= f.select(:vehicle_id, available_vehicles) %>

		<div class="vehicle_service_vehicle_id">
			<%= f.submit t(:form_add_vehicle_to_service_submit) %>
		</div>
		<% end %>
	<% end %>
</div>