<%= form_for(@service) do |f| %>
	<% if @service.errors.any? %>
		<div id="error_explanation">
			<h2><%= "#{pluralize(@service.errors.count, "error")} #{t(:form_errors_found)}:" %></h2>

			<ul>
			<% @service.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<% user_assemblies = current_user.assemblies.collect { |assembly| [ assembly.name, assembly.id ] } %>

	<div class="field">
		<%= f.label :name, t(:form_service_name) %><br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description, t(:form_service_description) %><br>
		<%= f.text_field :description %>
	</div>
	<div class="field">
		<%= f.label :assembly_id, t(:form_service_assembly) %><br>
		<%= f.select :assembly_id, user_assemblies %>
	</div>
	<div class="field date_field">
		<%= f.label :base_time, t(:form_service_base_time) %><br>
		<%= f.datetime_select :base_time %>
	</div>
	<div class="field date_field">
		<%= f.label :start_time, t(:form_service_start_time) %><br>
		<%= f.datetime_select :start_time %>
	</div>
	<div class="field date_field">
		<%= f.label :end_time, t(:form_service_end_time) %><br>
		<%= f.datetime_select :end_time %>
	</div>
	<div class="field">
		<%= f.label :code, t(:form_service_code) %><br>
		<%= f.text_field :code %>
	</div>
	<div class="field">
		<%= f.label :doc, t(:form_add_vehicle_to_service_doc) %>
		<%= f.number_field(:doc, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :due, t(:form_add_vehicle_to_service_due) %>
		<%= f.number_field(:due, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :tes, t(:form_add_vehicle_to_service_tes) %>
		<%= f.number_field(:tes, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :ci, t(:form_add_vehicle_to_service_ci) %>
		<%= f.number_field(:ci, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :asi, t(:form_add_vehicle_to_service_asi) %>
		<%= f.number_field(:asi, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :btp, t(:form_add_vehicle_to_service_btp) %>
		<%= f.number_field(:btp, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :b1, t(:form_add_vehicle_to_service_b1) %>
		<%= f.number_field(:b1, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :acu, t(:form_add_vehicle_to_service_acu) %>
		<%= f.number_field(:acu, { value: 0 }) %>
	</div>
	<div class="field">
		<%= f.label :per, t(:form_add_vehicle_to_service_per) %>
		<%= f.number_field(:per, { value: 0 }) %>
	</div>
	<div class="actions">
		<%= f.submit t(:form_service_submit) %>
	</div>
<% end %>
