<div id="form_user_join_service">
	<%= form_for(@service_user) do |f| %>
		<% types = [] %>
		<% UserType.available_types(current_user).each do |ut| %>
			<% types << [t(ut.user_type.to_sym), ut.user_type] %>
		<% end %>
		<%= f.label :user_position, t(:form_add_user_to_service_doc) %>
		<%= f.select :user_position, types %>
		
		<%= f.hidden :user_id, current_user.id %>
		
		<div class="service_user_submit">
			<%= f.submit t(:form_user_join_service) %>
		</div>
	<% end %>
</div>