<% assemblies = [] %>
<% Assembly.all.each do |assembly| %>
	<% assemblies << [assembly.name, assembly.id] unless @user.assemblies.include?(assembly) %>
<% end %>
<% if assemblies.count > 0 %>
	<div id="collaboration_form">
		<h3><%= t(:form_user_add_collaboration) %></h3>
		<%= form_for(UserAssembly.new) do |f| %>
			<%= f.hidden_field :user_id, value: @user.id %>
			
			<%= f.label :assembly_id, t(:form_user_assemblies) %>
			<%= f.select :assembly_id, assemblies %>
			
			<%= f.submit t(:form_user_submit) %>
		<% end %>
	</div>
<% end %>