<% provide(:title, t(:assembly_list_title)) %>
<h1><%= t(:assembly_list_title) %></h1>

<%= link_to t(:form_assembly_new), new_assembly_path %>

<table>
	<thead>
		<tr>
			<th><%= t(:form_location_name) %></th>
			<th><%= t(:form_location_description) %></th>
			<th><%= t(:form_location_level) %></th>
			<th><%= t(:form_location_address) %></th>
			<th><%= t(:form_location_phone) %></th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @assemblies.each do |assembly| %>
			<tr>
			<td><%= assembly.name %></td>
			<td><%= assembly.description %></td>
			<td><%= assembly.level %></td>
			<td><%= assembly.address %></td>
			<td><%= assembly.phone %></td>
			<td><%= link_to t(:resource_show), assembly %></td>
			<% if current_user.allowed_to?(:manage_assemblies) %>
				<td><%= link_to t(:resource_edit), edit_assembly_path(assembly) %></td>
				<td><%= link_to t(:resource_destroy), assembly, method: :delete, data: { confirm: t(:resource_destroy_confirm) } %></td>
			<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

