<% provide(:title, t(:assembly_list_title)) %>
<h1><%= t(:assembly_list_title) %></h1>

<%= link_to t(:form_assembly_new), new_assembly_path %>

<ul>
	<% @assemblies.autonomicas.each do |autonomica| %>
		<li>
			<%= link_to "#{autonomica.translated_level} #{autonomica.name} - #{autonomica.address} - #{autonomica.phone}", autonomica %>
			<% if current_user.allowed_to?(:manage_assemblies) %>
				<%= link_to t(:resource_edit), edit_assembly_path(autonomica) %>
				<%= link_to t(:resource_destroy), autonomica, method: :delete, data: { confirm: t(:resource_destroy_confirm) } %>
			<% end %>
		</li>
		<ul>
		<% autonomica.children.provincials.each do |provincial| %>
			<li>
				<%= link_to "#{provincial.translated_level} #{provincial.name} - #{provincial.address} - #{provincial.phone}", provincial %>
				<% if current_user.allowed_to?(:manage_assemblies) %>
					<%= link_to t(:resource_edit), edit_assembly_path(provincial) %>
					<%= link_to t(:resource_destroy), provincial, method: :delete, data: { confirm: t(:resource_destroy_confirm) } %>
				<% end %>
			</li>
			<ul>
				<% provincial.children.locals.each do |local| %>
					<li>
						<%= link_to "#{local.translated_level} #{local.name} - #{local.address} - #{local.phone}", local %>
						<% if current_user.allowed_to?(:manage_assemblies) %>
							<%= link_to t(:resource_edit), edit_assembly_path(local) %>
							<%= link_to t(:resource_destroy), local, method: :delete, data: { confirm: t(:resource_destroy_confirm) } %>
						<% end %>
					</li>
				<% end %>
			</ul>
		<% end %>
		</ul>
		<br>
	<% end %>
</ul>
