<% provide(:title, t(:form_assembly_show_title)) %>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<p>
	<strong><%= t(:form_assembly_name) %>:</strong>
	<%= @assembly.name %>
</p>

<p>
	<strong><%= t(:form_assembly_description) %>:</strong>
	<%= @assembly.description %>
</p>

<p>
	<strong><%= t(:form_assembly_address) %>:</strong>
	<%= @assembly.address %>
</p>

<p>
	<strong><%= t(:form_assembly_phone) %>:</strong>
	<%= @assembly.phone %>
</p>

<p>
	<strong><%= t(:form_assembly_level) %>:</strong>
	<%= @assembly.level %>
</p>

<% if @assembly.parent %>
	<p>
	<strong><%= t(:form_assembly_parent) %>:</strong>
	<%= link_to @assembly.parent.name, @assembly.parent %>
	</p>
<% end %>

<p>
	<strong><%= t(:form_assembly_office) %>:</strong>
	<%= link_to @assembly.office.name, @assembly.office %>
</p>

<%= render 'users' %>
<%= render 'vehicles' %>

<%= link_to t(:resource_edit), edit_assembly_path(@assembly) if current_user.allowed_to?(:manage_assemblies) %> |
<%= link_to t(:resource_back), assemblies_path %>
